!**/[Bb]in/
**/[Bb]in/*
!**/[Bb]in/Msvc_Emulator/
!**/[Dd]ebug/
**/[Dd]ebug/*
!**/[Dd]ebug/*.dll
!**/[Rr]elease/
**/[Rr]elease/*
!**/[Rr]elease/*.dll

.vs/
BrowseInfo/
[Bb]uild/
disassembly/
dist/
Exe/
funclist
html/
List/
nbbuild/
nbdist/
Obj/
settings/
**/nbproject/Makefile-*
**/nbproject/private/

*.aps
*.atsuo
*.bak
*.[Cc]ache
*.custom_argvars
*.d
*.dep
*.eep
*.elf
*.ewt
*.hex
*.lss
*.lst
*.map
*.mxproject
*.ninja_deps
*.ninja_log
*.o
*.obj
*.obj.dmp
*.p1
*.pre
*.sdb
*.sdf
*.suo
*.sym
*.user
*.VC.db
nb-configuration.xml
nbactions.xml
nbproject/Package-*.bash
